icecream==2.1.3
joblib==1.2.0
matplotlib==3.7.1
mpmath==1.2.1
nibabel==5.0.1
numba==0.56.4
numpy==1.23.5
openmesh==1.2.1
pandas==2.0.1
pickleshare==0.7.5
progressbar2==4.2.0
psutil==5.9.4
pyvista==0.38.5
rich==13.3.5
scipy==1.10.1
sparse==0.14.0
sympy==1.11.1
tqdm==4.64.1
trimesh==3.20.2
vtk==9.2.6
